.btn{
	background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  max-width: 120px;
}

.index-div{
	box-shadow: 10px  10px;
	background: blanchedalmond;
	border-radius: 5px;
	/*padding: 10px;*/
	text-align: center;
	width: 50%;
	margin: auto;
  width: 50%;
  border: 1px solid green;
  box-shadow: 10;
  padding: 10px;
}